{% extends "layout/basic.html" %}

{% load bootstrap4 %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">

{% block title %} Удаление заявок {% endblock %}

{% block content %}
    <h2>Ваши заявки</h2>

    {% if user_requests %}
        <div>
            {% for request in user_requests %}
                <div class="delete">
                    <h3 class="request-header">{{ request.name }}</h3>
                    <div>
                        <p class="request-description"><span>Описание</span>: {{ request.project_description }}</p>
                    </div>
                    <p class="request-category"><span>Категория</span>: {{request.category.name}}</p>
                    <p class="request-status"><span>Статус</span>: {{ request.status }}</p>
                    <p class="request-date"><span>Дата создания</span>: {{ request.created_at }}</p>
                    {% if request.design_image %}
                        <div class="request-image"><img src="{{request.design_image.url}}" alt="Изображение помещения"></div>
                    {% endif %}

                    <form method="POST" style="display:inline;">
                        {% csrf_token %}
                        <input type="hidden" name="request_id" value="{{ request.id }}">
                        <input type="submit" value="Удалить">
                    </form>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>У вас нет заявок.</p>
    {% endif %}

    <a href="{% url 'catalog:profile' %}" class="btn btn-secondary">Назад в профиль</a>
{% endblock %}