{% extends "layout/basic.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% block content %}
<div>
    <h4 class="counter">Количество заявок со статусом "принято в работу": <span>{{ accepted_requests_count }}</span></h4>
    <form method="get" action="" class="form-poisk">
        <label for="status">Фильтр по статусу:</label>
        <select name="status" id="status" onchange="this.form.submit()">
            <option value="">Все</option>
            <option value="Новая" {% if selected_status == 'Новая' %}selected{% endif %}>Новая</option>
            <option value="В процессе" {% if selected_status == 'В процессе' %}selected{% endif %}>В процессе</option>
            <option value="Завершена" {% if selected_status == 'Завершена' %}selected{% endif %}>Завершена</option>
        </select>
        {% csrf_token %}
    </form>
    {% for request in requests %}
        <div>
            <div class="request-card">
                <h3 class="request-header">{{ request.name }} (Автор: {{ request.user.username }})</h3>
                <div>
                    <p class="request-description"><span>Описание</span>: {{ request.project_description }}</p>
                </div>
                <p class="request-category"><span>Категория</span>: {{request.category.name}}</p>
                <p class="request-status"><span>Статус</span>: {{ request.status }}</p>
                <p class="request-date"><span>Дата создания</span>: {{ request.created_at }}</p>
                {% if request.is_urgent%}
                <p class="request-urgent">Эта заявка срочная!</p>
                {% else %}
                    <p class="request-urgent">Данная заявка не срочная.</p>
                {% endif %}
            </div>
            {% if request.design_image %}
                <div class="request-image"><img src="{{request.design_image.url}}" alt="Изображение помещения"></div>
            {% endif %}
        </div>
    {% empty %}
        <h2>Заявок пока что нет.</h2>
    {% endfor %}
</div>
{% endblock %}